// Specific CSS for your home-page
.home {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.cards {
  height: 100%;
}

.team {
  background-color: rgb(102,217,213);
}


.fab {
  color: rgb(102,217,213);
  opacity: 0.5;
  margin-top: 4px;
  margin-bottom: 17px;
  text-align: center !important;
  transition: 1s;
}

.fab:hover {
  opacity: 1;
}

.title-home {
  text-align:center;
  margin-bottom:30px;
  color: rgb(102,217,213);
  font-family: Montserrat;
}

.title-step {
  font-family: Montserrat;
}

.content-step {
  font-size: 17px;
}

.text-align-center {
  text-align: center;
}

#about-us::before, #juntar::before {
  content: "";
  display: block;
  height: 100px; /* fixed header height*/
  margin: -100px 0 0; /* negative fixed header height */
}

#juntar::before {
  content: "";
  display: block;
  height: 110px; /* fixed header height*/
  margin: -110px 0 0; /* negative fixed header height */
}

#vizinho-img {
  margin-top: 30px;
  height: 160px;
  width: 160px;
  opacity: 0.5;
}

a {
  color: inherit;
  text-decoration: inherit;
  //cursor: inherit;
}

