<!-- NAVBAR -->



<!-- BANNER -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1593113616828-6f22bca04804?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80);">
    <div class="align-items-center">
      <h1>Torna-te um Vizinho Amigo!</h1>
      <p>Junta-te a um grupo de 7000 voluntários e vem ajudar quem mais precisa!</p>
    </div>
</div>


<div id="juntar" class="container home">

<!-- THREE HOME CARDS FOR FORMS -->
  <h1 class="title-home home mt-3">AJUDA OU PEDE AJUDA</h1>
  <div class="container mx-auto d-flex justify-content-around mt-5">

    <div class="row">
      <div class="col-4 text-align-center cards">
        <div class="card card-form" style="width: 20rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1572567981653-ce74f7356946?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2102&q=80" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">É de um grupo de risco ou conhece alguém que precise de ajuda? Contacte-nos!</p>
            <a class='btn btn-outline-success my-2 my-sm-0 w-100' href="https://forms.gle/jhhA4Z6bhFgP3Rsq7">Preciso de ajuda!</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 text-align-center cards">
        <div class="card card-form" style="width: 20rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1598369119965-8d4667cc4f68?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Queres ajudar dentro dos possíveis mas não sabes como? Nós ajudamos-te a ajudar!</p>
            <a class='btn btn-outline-success my-2 my-sm-0 w-100' href="https://forms.gle/MMdbiyPxQkqRCWds7">Quero ser voluntário!</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 text-align-center cards">
        <div class="card card-form" style=" width: 20rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1593113598332-cd288d649433?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Faz parte de uma instituição pública e/ou empresarial e quer saber como ajudar?</p>
            <a href="https://forms.gle/ws4Gz2dCEAueE8Hn8" class='btn btn-outline-success my-2 my-sm-0 w-100'>Contacte-nos</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

  <div class="banner mt-5" id="comunidade" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1511632765486-a01980e01a18?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2100&q=80);">
    <div class="text-align center mx-auto">
      <h2>Junta-te à Comunidade Vizinho Amigo!</h2>
      <p>Liga-te facilmente a centenas de pessoas que precisam ou querem ajudar</p>
      <div class="d-flex justify-content-center">
        <a class="btn btn-primary btn-lg btn-vizinho" href="https://www.facebook.com/groups/864243737469105/">Junte-se ao grupo!</a>
      </div>
    </div>
  </div>


  <!-- ABOUT US SECTION -->

  <div class="container mt-5 mb-5" id="about-us">

    <div class="card-product">
      <img src="https://images.unsplash.com/photo-1578357078586-491adf1aa5ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80" />
      <div class="card-product-infos">
        <h2>Sobre Nós</h2>
        <p>O Vizinho Amigo é um movimento criado no inicio da pandemia com o principal objetivo de ajudar populações do grupo de risco nas suas compras diárias, impedindo assim que estas estejam mais sujeitas ao vírus.</p>
        <p>Somos um Movimento feito de pessoas. De pessoas dinâmicas, com um grande sentido de comunidade e com uma grande vontade de ajudar o próximo. De pessoas especiais, que lutam contra todas as dificuldades criadas pela pandemia.</p>
        <p>O nosso principal meio de comunicação são os cartazes - consideramos que essa é a melhor forma de comunicar com a maioria da população pertencente aos grupos de risco. No entanto, temos também várias parcerias com Juntas de Freguesia e Instituições Públicas que nos permitem chegar mais longe.</p>
        <p>Queres ajudar numa luta que é maior que todos nós? Preenche <a href="https://forms.gle/MMdbiyPxQkqRCWds7"><strong>este</strong></a> formulário e junta-te a esta família!</p>
        <img src="https://i.imgur.com/jcNpl29.png" alt="Vizinho_Amigo" id="vizinho-img" class="text-align-center mx-auto">
      </div>

    </div>

  </div>

</div>
  <div class="banner" id="donativos" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.lifeworks.com/ca/wp-content/uploads/sites/4/2019/01/rawpixel-792236-unsplash-1.jpg);">
    <div class="text-align center mx-auto">
      <h2>Ajuda ajudando-nos!</h2>
      <p>Apoia um movimento que ajuda milhares de pessoas em Portugal.</p>
      <div class="d-flex justify-content-center">
       <a class="btn btn-primary btn-lg" id="donativo" href="https://opencollective.com/vizinho-amigo">Donativos</a>
      </div>
    </div>
  </div>

 <!-- CAROUSEL -->
<h1 class="title-home mt-5">MEDIA</h1>
<div class="container">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" style=" width:100%; height: 650px !important;">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://i.imgur.com/CHr3i1L.png" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/ZkzVnrj.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/uJcwGFj.png" alt="Third slide">
    </div>
       <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/jHhPa8R.png" alt="Fourth slide">
    </div>
       <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/Bh2RTeN.png" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/ndkftVi.png" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/3pGp3OO.png" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>


  <!-- FOOTER -->

  <div class="container home" id=redes>
    <div class="container mt-5 mb-2">
      <h1 class="title-home">REDES SOCIAIS</h1>
      <div class="container mx-auto d-flex justify-content-around">

        <div class="col-4 text-align-center">
          <h4 class="title-step"></h4>
          <a href="https://www.facebook.com/Vizinho-Amigo-111145073840476"><i class="fab fa-facebook fa-9x"></i></a>
          <p class="content-step"></p>
        </div>

        <div class="col-4 text-align-center">
              <h4 class="title-step"></h4>
          <a href="https://www.instagram.com/vizinho_amigo_/?hl=pt"><i class="fab fa-instagram fa-9x"></i></a>
          <p class="content-step"></p>

        </div>

        <div class="col-4 text-align-center">
              <h4 class="title-step"></h4>
          <a href="https://www.linkedin.com/company/vizinho-amigo/"><i class="fab fa-linkedin fa-9x"></i></a>
          <p class="content-step"></p>

        </div>

      </div>
    </div>
  </div>

  <div class="privacidade">
    <div class="container mt-3 mb-2">
      <details>
        <summary><h6 class="title-home">Politica de Privacidade e Proteção de dados</h6></summary>

<p>A organização comunitária Vizinho Amigo, doravante designada por Vizinho Amigo, tem em conta a proteção dos dados pessoais das partes interessadas em aderir à sua iniciativa. Sendo tais dados necessários para efeitos de apresentação, proposta, celebração, execução e gestão do respetivo acordo de compromisso, definiu a sua Política conforme o preconizado pelo Regulamento (UE) 2016/679 do Parlamento Europeu e do Conselho, de 27 de abril de 2016, relativo à proteção no que diz respeito ao tratamento de dados pessoais e à livre circulação desses dados (Regulamento Geral sobre a Proteção de Dados – RGPD), bem como em conformidade com o disposto na Lei de Proteção de Dados Pessoais (Lei n.º 58/2019, de 8 de agosto).</p>

<p><strong><h3>Que tipo de dados pessoais recolhemos?</h3></strong></p>
A Vizinho Amigo, no âmbito das atividades que desenvolve para o cumprimento dos seus objetivos, recolhe, armazena e trata dados pessoais das pessoas, singulares e coletivas, aderentes à sua iniciativa, mais propriamente das entidades que prestam apoio e com as quais celebra protocolos de cooperação, dos voluntários que participam nas atividades, assim como dos seus beneficiários. Os dados recolhidos englobam o nome, número de identificação, número de identificação fiscal, contacto telefónico, morada e endereços de correio eletrónico.

<p><strong><h3>Com que fundamento recolhemos e tratamos os dados pessoais?</h3></strong></p>
<p>O tratamento de dados dos aderentes à iniciativa da Vizinho Amigo baseia-se no seguinte:</p>
<li>No seu interesse legítimo para concretização da sua iniciativa enquanto organização comunitária e na adequação das suas atividades para o maior sucesso na ajuda solidária dos seus beneficiários;
</li>
<li>Na necessidade de executar os protocolos de cooperação celebrados com as entidades que prestam apoio à iniciativa.
</li>
<li>Quando o tratamento é exigido pela legislação em vigor;</li>
<li>Quando o consentimento explícito é adquirido.</li>

<p><strong><h3>A que se destinam os dados recolhidos?</h3></strong></p>
<p>Os dados recolhidos são essenciais ao desenvolvimento e cumprimento da iniciativa e destinam-se apenas às ações que permitam alcançar este fim. Por um lado, permitem saber quem pretende colaborar com a organização, adequando as respostas a prestar aos beneficiários. Por outro lado, permitem dar a conhecer o trabalho da Vizinho Amigo a todas as pessoas que a pretendam apoiar de forma transparente.
</p>



<p><strong><h3>Como recolhemos, armazenamos e tratamos os dados?</h3></strong></p>
<p>A recolha, armazenamento e tratamento dos dados pessoais das partes aderentes têm lugar consoante o que se passa a explicitar:</p>

<h2><strong>Os dados das entidades aderentes:</strong></h2>

<p><strong><h4>Quem recolhe os dados das entidades que cooperam com a Vizinho Amigo?</h4></strong></p>
<p>Os dados pessoais das entidades que celebram protocolos de cooperação com a Vizinho Amigo são recolhidos pela coordenação e pelo responsável pelo tratamento e proteção de dados.
</p>

<p><strong><h4>Quem tem acesso aos dados?</h4></strong></p>
Os dados pessoais das entidades podem ser acedidos pelo responsável pelo tratamento e proteção de dados, pela coordenação e pelo Representante da Vizinho Amigo, assim como pelos voluntários que participam na iniciativa e ainda pelos beneficiários.

<p><strong><h4>Com quem são partilhados os dados?</h4></strong></p>
Com as entidades com quem a Vizinho Amigo celebra protocolos de cooperação, sejam entidades públicas ou privadas, no âmbito do desenvolvimento de ações de promoção e divulgação das atividades. As possibilidades de partilha são informadas no momento de estabelecimento de acordo e de compromisso com as entidades que cooperam com a organização.

<p><strong><h4>Onde são armazenados os dados?</h4></strong></p>
Os dados são armazenados na base de dados da Vizinho Amigo em formato digital e em suporte físico.

<p><strong><h4>Por quanto tempo ficam os dados na posse da Vizinho Amigo?</h4></strong></p>
Os dados são eliminados sempre que termine o período de vigência do respetivo protocolo de cooperação celebrado entre a entidade aderente e a Vizinho Amigo ou sempre que solicitado pelos seus titulares, desde que não haja obrigação legal que o impeça.
Na fase de recolha de dados, é proposto o preenchimento de um formulário, onde se solicita autorização para a recolha, armazenamento e tratamento dos seus dados durante o período do apoio e a utilização de dados como o nome e o email após a cessação do mesmo, com a finalidade de divulgação das atividades da Vizinho Amigo. Caso não pretenda receber qualquer informação, o aderente pode recusar esta possibilidade ou pedir o esquecimento dos seus dados.
<br>
<br>
<h2><strong>Os dados dos voluntários:</strong></h2>

<p><strong><h4>Quem recolhe os dados dos voluntários?</h4></strong></p>
Os dados pessoais dos voluntários são recolhidos pela coordenação e pelo responsável pelo tratamento e proteção de dados.

<p><strong><h4>Quem tem acesso aos dados?</h4></strong></p>
Os dados pessoais dos voluntários podem ser acedidos pelo responsável pelo tratamento e proteção de dados, pela coordenação e pelo Representante da Vizinho Amigo, assim como pelas entidades com as quais a organização celebra protocolo de cooperação e ainda pelos beneficiários.

<p><strong><h4>Com quem são partilhados os dados?</h4></strong></p>
Os dados dos voluntários podem ser partilhados se solicitado pelas entidades que cooperam com a Vizinho Amigo e pelos beneficiários, sejam entidades públicas ou privadas, sendo partilhados de forma despessoalizada no âmbito do desenvolvimento de ações de promoção e divulgação das atividades. As possibilidades de partilha são informadas no momento de estabelecimento de acordo e de compromisso com os voluntários.

<p><strong><h4>Onde são armazenados os dados?</h4></strong></p>
Os dados são armazenados em suporte digital em programas de gestão de voluntários, e em formato físico.

<p><strong><h4>Por quanto tempo os dados ficam na posse da Vizinho Amigo?</h4></strong></p>
Os dados são eliminados nos 6 meses após a comunicação expressa da cessação de participação na iniciativa da Vizinho Amigo ou antes, se solicitado pelo voluntário e se não houver obrigações legais que o impeçam.
Na fase de recolha de dados, é pedido a cada voluntário o preenchimento de uma ficha de dados pessoais, onde se solicita autorização para a recolha, armazenamento e tratamento dos seus dados durante o período do compromisso e a utilização de dados como o nome e o email após a cessação do mesmo, com a finalidade de divulgação das atividades da Vizinho Amigo. Caso não pretenda receber qualquer informação, o voluntário pode recusar esta possibilidade ou pedir o esquecimento dos seus dados após a cessação do compromisso com a Vizinho Amigo.

<br>
<br>
<h2><strong>Os dados dos beneficiários:</strong></h2>

<p><strong><h4>Quem recolhe os dados dos Beneficiários?</h4></strong></p>
Os dados pessoais dos beneficiários são recolhidos pela coordenação e pelo responsável pelo tratamento e proteção de dados.

<p><strong><h4>Quem tem acesso aos dados?</h4></strong></p>
Os dados dos beneficiários podem ser acedidos pelo responsável pelo tratamento e proteção de dados, pela coordenação e pelo Representante da Vizinho Amigo, assim como pelas entidades com as quais esta celebra protocolo de cooperação e ainda pelos voluntários.

<p><strong><h4>Com quem são partilhados os dados?</h4></strong></p>
Os dados dos beneficiários podem ser partilhados se solicitado pelas entidades que celebram protocolo de cooperação com a Vizinho Amigo, sejam entidades públicas ou privadas, no âmbito do desenvolvimento de ações de promoção e divulgação das atividades. As possibilidades de partilha são informadas no momento de estabelecimento de acordo e de compromisso com os beneficiários.

<p><strong><h4>Onde são armazenados os dados?</h4></strong></p>
Os dados são armazenados em suporte digital em programa de gestão de beneficiários e em formato físico.

<p><strong><h4>Por quanto tempo ficam os dados na posse da Vizinho Amigo?</h4></strong></p>
Os dados são eliminados de acordo com o processo definido para o efeito ao fim de 6 meses após o fim da atividade prestada ou sempre que solicitado pelos beneficiários desde que não haja obrigatoriedade legal que o impeça.

<p><strong><h4>Quem é o responsável pela gestão e proteção de dados?</h4></strong></p>
O responsável pela gestão e proteção de dados é a Vizinho Amigo.

<p><strong><h4>De que forma podem os titulares aceder aos seus dados e exigir a sua eliminação?</h4></strong></p>
Os titulares de dados tratados pela Vizinho Amigo podem, a qualquer momento, aceder, retificar ou atualizar os seus dados, bem como decidir que tipo de dados pretendem ver guardados ou eliminados.
Para proceder a qualquer solicitação relativamente ao tratamento dos seus dados, o titular poderá contactar diretamente a Vizinho Amigo através do endereço protecaodados.vizinhoamigo@gmail.com.
O titular dos dados poderá solicitar a cópia dos dados que lhe digam respeito, a retirada do consentimento, a retificação, a eliminação, a limitação, a portabilidade e a oposição ao tratamento dos mesmos. Podem os titulares dos dados, ainda, em caso de conflito, apresentar uma queixa/reclamação à Comissão Nacional de Proteção de Dados (CNPD).

<p><strong><h4>O que sucede em caso de violação de dados?</h4></strong></p>
Em casos de violação de dados, a Vizinho Amigo tudo fará para prevenir/evitar qualquer violação ou abuso relativamente aos dados que lhe são confiados. Se eventualmente acontecer, agirá de acordo com o previsto no RGPD, informando logo que possível os titulares dos dados em causa, tomando medidas que minimizem potenciais danos e notificará a CNPD no prazo de 72 (setenta e duas) horas nas situações em que gravidade o justifique. A revisão desta política poderá ocorrer sempre que se justifique.

<p>Lisboa, 27 de Janeiro de 2021</p>

      </details>

    </div>
</div>
<!--   <div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/vizinho_amigo_/?hl=pt"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/Vizinho-Amigo-111145073840476"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/company/vizinho-amigo/"><i class="fab fa-linkedin"></i></a>
  </div>
</div> -->

