<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1593113616828-6f22bca04804?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80);">
    <div class="align-items-center">
      <h1>Seja um Vizinho Amigo!</h1>
      <p>Se quer ajudar quem mais precisa, blá blá blá</p>
      <div class="mouse_scroll">

        <div class="mouse">
          <div class="wheel"></div>
        </div>
        <div>
          <span class="m_scroll_arrows unu"></span>
          <span class="m_scroll_arrows doi"></span>
          <span class="m_scroll_arrows trei"></span>
        </div>
      </div>
    </div>
</div>

<div class="container home">

  <h1 class="title-home home"></h1>
  <div class="container mx-auto d-flex justify-content-around mt-5">

    <div class="col-4 text-align-center">
      <div class="card" style="width: 19rem;">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1572567981653-ce74f7356946?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2102&q=80" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">É de um grupo de risco ou conhece alguém que precise de ajuda?</p>
          <div class='btn btn-outline-success my-2 my-sm-0 w-100'>Preciso de ajuda!</div>
        </div>
      </div>
    </div>

    <div class="col-4 text-align-center">
      <div class="card" style="width: 19rem;">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1598369119965-8d4667cc4f68?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Queres ajudar dentro dos possíveis mas não sabes como?</p>
          <div class='btn btn-outline-success my-2 my-sm-0 w-100'>Quero ser voluntário!</div>
        </div>
      </div>
    </div>

    <div class="col-4 text-align-center">
      <div class="card" style="width: 19rem;">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1593113598332-cd288d649433?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Faz parte de uma instituição pública e empresarial e quer saber como ajudar?</p>
          <div class='btn btn-outline-success my-2 my-sm-0 w-100'>Contacte-nos</div>
        </div>
      </div>
    </div>


  </div>

  <div class="container">




  </div>
</div>



