<!-- NAVBAR -->



<!-- BANNER -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1593113616828-6f22bca04804?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80);">
    <div class="align-items-center">
      <h1>Seja um Vizinho Amigo!</h1>
      <p>Se quer ajudar quem mais precisa, blá blá blá</p>
    </div>
</div>


<div id="juntar" class="container home" ">

<!-- THREE HOME CARDS FOR FORMS -->
  <h1 class="title-home home"></h1>
  <div class="container mx-auto d-flex justify-content-around mt-5">

    <div class="row">
      <div class="col-4 text-align-center cards">
        <div class="card card-form" style="width: 20rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1572567981653-ce74f7356946?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2102&q=80" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">É de um grupo de risco ou conhece alguém que precise de ajuda?</p>
            <div class='btn btn-outline-success my-2 my-sm-0 w-100'>Preciso de ajuda!</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 text-align-center cards">
        <div class="card card-form" style="width: 20rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1598369119965-8d4667cc4f68?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Queres ajudar dentro dos possíveis mas não sabes como? Nós ajudamos-te a ajudar!</p>
            <div class='btn btn-outline-success my-2 my-sm-0 w-100'>Quero ser voluntário!</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 text-align-center cards">
        <div class="card card-form" style=" width: 20rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1593113598332-cd288d649433?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Faz parte de uma instituição pública e empresarial e quer saber como ajudar?</p>
            <div class='btn btn-outline-success my-2 my-sm-0 w-100'>Contacte-nos</div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <!-- ABOUT US SECTION -->

  <div class="container mt-5 mb-5" id="about-us">

    <div class="card-product">
      <img src="https://images.unsplash.com/photo-1578357078586-491adf1aa5ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80" />
      <div class="card-product-infos">
        <h2>Sobre Nós</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>

    </div>

  </div>

</div>
  <div class="banner" id="comunidade" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://volunteeringaustralia.r.worldssl.net/wp-content/uploads/volunteering-australia-people-linked-together.jpg);">
    <div class="text-align center mx-auto">
      <h2>Junte-se à Comunidade Vizinho Amigo!</h2>
      <p>Ligue-se facilmente a centenas de pessoas que precisam ou querem ajudar.</p>
      <div class="d-flex justify-content-center">
        <a class="btn btn-primary btn-lg" href="">Junte-se ao grupo!</a>
      </div>
    </div>
  </div>



  <!-- FOOTER -->

  <div class="container home" id=redes>
    <div class="container mt-5 mb-2">
      <h1 class="title-home">REDES SOCIAIS</h1>
      <div class="container mx-auto d-flex justify-content-around">

        <div class="col-6 text-align-center">
          <h4 class="title-step"></h4>
          <a href="#"><i class="fab fa-facebook fa-9x"></i></a>
          <p class="content-step"></p>
        </div>

        <div class="col-6 text-align-center">
              <h4 class="title-step"></h4>
          <a href="#"><i class="fab fa-instagram fa-9x"></i></a>
          <p class="content-step"></p>

        </div>

      </div>
    </div>
  </div>

  <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>

