.card-product {
  overflow: hidden;
  height: 620px;
  width: 95%;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: flex;
  // align-items: center;
  margin: auto;
  transition: 0.7s;
}

.card-product:hover {
  // box-shadow: 0 0 15px rgba(102,217,213, 0.7);
  box-shadow: 0 0 7px rgba(0,0,0,0.2);
}

.card-product img {
  height: 100%;
  width: 450px;
  object-fit: cover;
  text-align: center;
  display:block;
  margin:auto;

}

.card-product h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}


.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
   text-align: justify;
}

.card-product .card-product-infos {
  padding: 46px;
  margin-left: auto;
  margin-right: auto;
}

.privacidade {
  text-align: justify;
  text-justify: inter-word;
  text-decoration: none;
}

details summary::-webkit-details-marker {
  display:none;
}

details > summary:first-of-type {
    list-style-type: none;
}

